body.game{
	background-color: #333;
	font-family: sans-serif;
	color: white;
}

body, div, p, span, h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
}

.holdflash{
	margin: 50px auto;
	text-align: center;
}

h3{
	font-size: 2.2em;
	text-transform:uppercase;
	letter-spacing: 1px;
}

em{
	color:#bb9;
	font-style: normal;
}

p.date{
	margin: 0;
	font-size: 0.8em;
	color: #bb9;
}
p.meta{
	margin: 6px 0;
	font-size: 0.8em;
	color: #ccc;
}
p.desc{
	margin: 22px auto 100px;
	padding-top: 16px;
	border-top: 1px solid #555;
	font-size: 1.08em;
	color: #eee;
	width: 620px;
	font-weight:300;
	line-height: 1.8em;
}

a, a:visited{
	color: #25adb6;
	text-decoration: none;
}

a:hover{
	color: #bb9;
}